[defaults]
inventory = inventory/hosts.ini
host_key_checking = False
retry_files_enabled = False
roles_path = roles
stdout_callback = yaml
forks = 10
timeout = 40
interpreter_python = /usr/bin/python3

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=120s -o StrictHostKeyChecking=no
